// 글 보관함과 검색결과 목록
.home,
.archive,
.search,
.error404 {

	// 글 목록
	.archive-list {
		position: relative;
	}

	// 글 항목
	.archive-item {
		position: absolute;
		width: @item-width-iphone;
		@media (min-width: @width-android) { width: @item-width-android }
		@media (min-width: @phone)         { width: @item-width-wide }
	}

	// 보관함: Taxonomy description
	.taxonomy-description {
		display: block;
		margin: 5px 0 0 0;
		@media (min-width: @tablet) {
			margin: 0 0 0 10px;
			&, p { display: inline }
			br { .hidden }
		}
	}

}
